/**
 * Gieniobot Master - Minimap Settings CSS
 * Dynamic styles that depend on settings
 */

/* =============== MINIMAP SETTINGS PANEL =============== */
#kws_minimap_settings {
  margin: 10px 0px 0px 0px;
  border-top: solid white 1px;
  padding-top: 10px;
}

#field_sett #field_options {
  height: 407px;
}

#minimap_range {
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}

.smin_butt {
  background: #31313a69 !important;
  border: solid #ffffff4d 1px !important;
  width: auto !important;
  height: 32px !important;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  font-family: 'Play', sans-serif;
  font-size: 13px;
  font-weight: Bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  margin-top: 2px;
  float: none !important;
}

.smin_input {
  background: #040e13;
  height: 31px;
  border: solid #ffffff4d 1px !important;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  color: #305779;
  font-family: 'Play', sans-serif;
  vertical-align: middle;
  border-radius: 5px;
}

/* =============== LOCATION INFO PANEL =============== */
#kws_locInfo {
  background: url("/gfx/layout/tloPilot.png");
  position: absolute;
  top: 220px;
  z-index: 2;
  width: 204px;
  padding: 5px;
  border-radius: 5px;
  border-image: url(/gfx/layout/mapborder.png) 7 8 7 7 fill;
  border-style: solid;
  border-width: 7px 8px 7px 7px;
}

#kws_locInfo .sekcja {
  position: absolute;
  top: -20px;
  left: 0px;
  background: url("https://i.imgur.com/Mi3kUpg.png");
  background-size: 100% 100%;
  width: 190px;
}